
body{
    height: 100vh;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background: black;
    margin: 0;

}

.img{
    width: 80px;
    height: 70px;

}
.firstDiv{
    height: 50vh;
    width: 40vw;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

}


.firstDiv i{
    position: absolute;
    inset: 0;  /* encrease  before -70*/

    border: 2px solid #fff;
    transition: 0.5s;
    pointer-events: none;
}

.firstDiv i:nth-child(1){
    border-radius: 58% 62% 83% 47% /51% 54% 56% 59%;
    animation: animate 6s linear infinite;
}

.firstDiv i:nth-child(2){
    border-radius: 57% 54% 66% 59%/48% 62% 63% 47%;
    animation: animate 4s linear infinite;
}

.firstDiv i:nth-child(3){
    border-radius: 67% 64% 86% 69%/48% 72% 73% 47%;
    animation: animate2 10s linear infinite;

}

.firstDiv:hover i{
    border:6px solid var(--clr);
    filter: drop-shadow(0 0 40px var(--clr));
}

 @keyframes animate {
0% {
transform: rotate(0deg);
}
    100% {
        transform: rotate(360deg);
    }
}

 @keyframes animate2 {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


.butBlue{
    height: 30px;
    width: 220px;
    background: #439edf;
    border-radius: 15px;
    box-shadow: 10px 7px 4px 0px rgba(0, 0, 0, 0.7);
    margin: 10px;
}

h3{
    color: white;
}

.fecImg{
    height: 22px;
    width: 22px;
    margin: -3px;
    padding: -5px;

}

.lowWord{
    color: white;
}
/*.button1{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;*/

/*--------------------inputs---------------------------*/




input[type="text"]::placeholder{
    color: darkslategray;
    font-family: "Bebas Neue", sans-serif;

}

input[type="text"]{
    text-overflow: ellipsis;
    height: 25px;
    width: 220px;
     border:  1px black solid;
    border-radius: 5px;
    margin: 10px;
    background: lightgrey;



}

input[type="password"]{
    height: 25px;
    width: 220px;
    text-overflow: ellipsis;
    border: 1px black solid;
    border-radius: 5px;
    margin: 10px;
    background: lightgrey;

}
input[type="password"]::placeholder{
    color: darkslategray;
    font-family: "Playfair Display", serif;

}


/*--------------------------footer----------------------------*/
footer{
    height: auto;
    width: 100%;
    color: white;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;


}

footer a{
    color: white;
}