.bigDiv{

    height: 900px;

}

.mainVidg{
     height: 30%;
    text-align: center;
    background-color: blue;
    justify-content: center;
    align-items: center;
    display: flex;

}

.midlVidg{
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.smallDiv{
    width: 30%;
    background-color: brown;
    text-align: center;
    height: 180px;
    border: 3px solid black;
    border-radius: 5%;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: 2s;
}


.smallDiv:hover{
    background-color: cornflowerblue;
    border-radius: 40%;
    transition: 2s;
}
.footer{
    height: 45%;
    background-color: blueviolet;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

