.bigKon{
    height: 500px;
    background-color: darkcyan;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;


}

.div1{
    height: 80px;
    width: 80px;
    background-color: red;
    border: 3px solid black;
    transition: 2s;
}

.div1:hover{
    background-color: cornflowerblue;
    border-radius: 40%;
    transition: 2s;
}